body {
	background-image: url('../images/groceries.jpg');
	background-repeat: no-repeat;
  	background-position: top center;
}
.masthead {
	display: flex;
	float: center;
	position: relative;
	margin: 0 auto;
}

.masthead > h1 {
	margin: 0 auto;
}

.button, .button2{
	background-color: #3F7F46;
	border: solid 1px;
	margin-left: 35px;
	width: 140px;
	text-align: center;
}

.container {
	max-width: 600px;
	margin: 0 auto;
	border: solid;
	padding: 5px 0px;
	font-size: 24px;
	background-color: #5EBF6A;
}

.list {
    float: left;
    display: block;
    position: relative;
    margin: 10px auto;
    width: 100%;
}

.category {
	background-color: #3F7F46;
	height: 24px;
	padding-left: 10px;
	padding-right: 3px;
}

.list > .category-name {
	border: solid 2px;
	height: 24px;
}

.item {
	background-color: #FFF;
	height: 24px;
	vertical-align: middle;
	padding: 4px;
}

.item-name {
	padding-left: 20px;
}

.unchecked {
	float: left;
	width: 24px;
	height: 24px;
	background-image: url('../images/checkbox-unchecked.png');
	background-repeat: no-repeat;
	background-position: center;
}

.checked {
	float: left;
	width: 24px;
	height: 24px;
	background-image: url('../images/checkbox-checked.png');
	background-repeat: no-repeat;
	background-position: center;
}

.remove {
	float: right;
	margin-right: 10px;
	height: 24px;
	width: auto;
}

.input	{
	display: inline-flex;
	margin-left: 10px;
}

.line-through {
	text-decoration: line-through;
}

.text {
	border: solid;
	width: 300px;
	background-color: white;
	margin-left: 40px;
}

.category-item {
	background-color: #FFF;
	height: 24px;
	vertical-align: middle;
	padding: 4px;
}

/* Responsive Design */
@media only screen and (max-width: 600px) {
    .container, .masthead {
    	width: 450px;
      	padding: 1em 0;
    }

    .masthead h1 {
    	font-size: 1em;
    	text-align: center;
    }
    .input	{
		display: inline-flex;
		margin-left: 10px;
	}

	.text {
		border: solid;
		width: 200px;
		background-color: white;
		margin-left: 5px;
	}
}

@media only screen and (max-width: 450px) {
    .container, .masthead {
    	width: 300px;
    	height: auto;
      	padding: 1em 0;
    }
    .masthead h1 {
    	font-size: 1em;
    }
    .input	{
		display: inline-flex;
		margin: 0 auto;
	}

	.text {
		border: solid;
		width: 125px;
		background-color: white;
		margin: 0 auto;
	}

	.button2 {
		margin: 0 1px;
	}
}