body {
	background-image: url('../images/groceries.jpg');
	background-repeat: no-repeat;
  	background-position: top center;
}
.masthead {
	display: flex;
	float: center;
	position: relative;
	margin: 0 auto;
}

.masthead > h1 {
	margin: 0 auto;
}

.container {
	max-width: 600px;
	margin: 0 auto;
	border: solid;
	padding: 5px 0px;
	font-size: 24px;
	background-color: #5EBF6A;
}

.list {
    float: left;
    display: block;
    position: relative;
    margin: 10px auto;
    width: 100%;
}

.category {
	background-color: #3F7F46;
	height: 24px;
	padding-left: 10px;
	padding-right: 3px;
}

.list > .category-name {
	border: solid 2px;
	height: 24px;
}

.item {
	background-color: #FFF;
	height: 24px;
	vertical-align: middle;
	padding: 4px;
}

.item-name {
	padding-left: 20px;
}

.unchecked {
	float: left;
	width: 24px;
	height: 24px;
	background-image: url('../images/checkbox-unchecked.png');
	background-repeat: no-repeat;
	background-position: center;
}

.checked {
	float: left;
	width: 24px;
	height: 24px;
	background-image: url('../images/checkbox-checked.png');
	background-repeat: no-repeat;
	background-position: center;
}

.remove {
	float: right;
	margin-right: 10px;
	height: 24px;
	width: auto;
}

.list-entry	{
	display: inline-flex;
	margin-left: 10px;
}

.line-through {
	text-decoration: line-through;
}

#input {
	border: solid 0.125rem;
	border-radius: 4px;
	width: 300px;
	height: 24px;
	background-color: white;
	margin-left: 40px;
	padding: 0.5rem 0.2rem;
}

.category-item {
	background-color: #FFF;
	height: 24px;
	vertical-align: middle;
	padding: 4px;
}

/* Button */
button {
	background-color: #3F7F46;
	border: solid 1px;
	margin-left: 35px;
	width: 140px;
	text-align: center;
	border-color: #f15a29;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 0.5rem 0.2rem;
    color: #fff;
    font-size: 1.125rem;
}
button:hover {
    background-color: #d9400e;
    border-color: #cf3d0e;
    cursor: pointer;
}

/* Responsive Design */
@media only screen and (max-width: 600px) {
    .container, .masthead {
    	width: 450px;
      	padding: 1em 0;
    }

    .masthead h1 {
    	font-size: 1em;
    	text-align: center;
    }

    .list-entry	{
		margin-left: 10px;
	}

	#input {
		border: solid;
		width: 200px;
		background-color: white;
		margin-left: 5px;
	}
}

@media only screen and (max-width: 450px) {
    .container, .masthead {
    	width: 300px;
    	height: auto;
      	padding: 1em 0;
    }

    .masthead h1 {
    	font-size: 0.75em;
    }

    .list-entry	{
		margin: 0 auto;
		padding-top: 5px;
	}

	#input {
		border: solid;
		width: 125px;
		background-color: white;
		margin: 0 1rem;
	}

	.item-name, .category-name {
		font-size: 1.25rem;
	}

	button {
		margin: 0 0.75rem;
		width: 100px;
		text-align: center;
		padding: 0.4rem 0.2rem;
    	font-size: 0.75rem;
	}
}